.trClPedidosArq {
  background-color: #086f6a;
  color: #fcfcfc;
  text-align: center;
}

.trClProdutoData {
  color: #000000;
}
.tboIdPedidosArq {
  border-radius: 10px;
  text-align: center;

}
.TituloPedidosArq {
  margin-left: 375px;
  margin-top: 10px;
  color: #1f1f1f;
  padding: 7px;
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
